.codeElement {
	font-family: Inconsolata, Consolas, 'Lucida Console', monospace;
	font-size: 12pt;
	white-space: pre;
}

#input {
	/* TODO: Find out how to apply .codeElement here */
	font-family: Inconsolata, Consolas, 'Lucida Console', monospace;
	font-size: 12pt;
	white-space: pre;

	width: 100%;
}

#inputContainer {
	margin: 0 auto;
	width: 90%;
}

#leftSide {
	float: left;
	width: 50%;
}

#output {
	/* TODO: Find out how to apply .codeElement here */
	font-family: Inconsolata, Consolas, 'Lucida Console', monospace;
	font-size: 12pt;
	white-space: pre;

	width: 100%;
}

/* Disables brace matching for #output */
#output .ace_marker-layer .ace_bracket {
	display: none;
}

#outputContainer {
	margin: 0 auto;
	width: 90%;
}

#rightSide {
	float: right;
	width: 50%;
}
