* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
	font-weight: normal;
}

.clear {
	clear: both;
}

.optionComponent {
	margin-top: 1.5em;
}

.optionComponent:first-child {
	margin-top: 0;
}

.optionGroup {
	float: left;
	margin-left: 3em;
}

.optionGroup:first-child {
	margin-left: 0;
}

.radio {
	margin-top: 0;
}

.slider-handle {
	background: #0000f0;
}

.slider-selection {
	background: #8080ff;
}

#container {
	height: 90vh;
}

#input,
#output {
	font-family: Inconsolata, Consolas, 'Lucida Console', monospace;
	font-size: 12pt;
	white-space: pre;

	width: 100%;
}

#inputContainer,
#outputContainer {
	margin: 0 auto;
	width: 90%;
}

#inputOutputContainer {
	margin-top: 1.5em;
	height: 60%;
	overflow: auto;
}

#leftSide {
	float: left;
	width: 50%;
}

#optionContainer {
	margin: 0 auto;
	margin-top: 1.5em;
	width: 95%;
	height: 40%;
}

/* Disables brace-matching for #output */
#output .ace_marker-layer .ace_bracket {
	display: none;
}

#rightSide {
	float: right;
	width: 50%;
}
