* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

#input,
#output {
	font-family: Inconsolata, Consolas, 'Lucida Console', monospace;
	font-size: 12pt;
	white-space: pre;

	width: 100%;
}

#inputContainer,
#outputContainer {
	margin: 0 auto;
	width: 90%;
}

#inputOutputContainer {
	margin-top: 1.5em;
}

#leftSide {
	float: left;
	width: 50%;
}

#optionsContainer {
	margin: 0 auto;
	margin-top: 1.5em;
	width: 95%;
}

/* Disables brace-matching for #output */
#output .ace_marker-layer .ace_bracket {
	display: none;
}

#rightSide {
	float: right;
	width: 50%;
}
